/* ========== FONTS */

body {
    font-family: Roboto-Mono, Space-Mono;
    font-weight: 300;
    color: #ECA72C;
    background-color: #31263E;;
}

/* ========== CONTAINERS */

.container-deep-purple {
    background-color: #31263E;
}

.container-light-purple {
    background-color: #44355B;
}

html {
    background-color: #31263E;
}

#game-container {
    background-color: #31263E;
}

#gamescore {
    margin: 1rem 0rem;
}

#hidden-letters {
    height: 100%;
    align-items: center;
    margin: 1rem 0rem;
}

#keyboard {

}

#hangman {
    height: 40vh;
    width: 100%;
}

#wrapper {

}

.play-again-container {
  
}

/* ========== GENERAL MARGINS/PADDINGS */

.no-mp {
    margin: 0;
    padding: 0;
}

/* ========== BORDERS */

.own-border {
    border: 1px solid #ECA72C  !important;
}

/* ========== BUTTONS */

button {
    background: none;
    border: 2px solid;
    margin: 0.3rem;
    padding: 0.3rem;
}

.btn-general {
    color: #ECA72C;
    transition: 0.25s;
}

.btn-general:hover {
    color: #EE5622;
} 

div #keyboard button {
    width: 44px;
    height: 44px;
    padding: 0;
    text-align: center;
    font-size: 1.3em;
    margin: 2px;
}

div div div div .play-again {
    padding: 0.2rem;
    margin: 0.2rem;
    align-self: center;
    text-align: center;
}

i {
    font-size: 2rem;
    margin: 0.3rem;
    color: #ECA72C;
    transition: 0.25s;
}

i:hover {
    color: #EE5622;
}

:disabled {
    background-color: #31263E;
    color: #EE5622;
    border-color: #221E22;
}

/* ========== HEADER(S) */

.page-header {
    padding: 1rem;
    border-bottom: 1px solid;
    background-color: #221E22;
    color: #ECA72C;
}

#h1-heading {
    font-size: 3rem;
}

/* ========== NAVIGATION */



/* ========== GAMESCORE */



/* ========== HIDDEN LETTERS */



/* ========== KEYBOARD */

#game-container div #keyboard #generateTopRow button,
#game-container div #keyboard #generateMiddleRow button,
#game-container div #keyboard #generateBottomRow button {

}


/* ========== HANGMAN */

.figure-container {
    fill: transparent;
    stroke: #ECA72C;
    stroke-width: 5px;
    stroke-linecap: round;
}

/* ========== FOOTER */

#footer {
    border-top: 1px solid;
    background-color: #221E22;
    color: #ECA72C;
    text-align: center;
}

footer div div p {
    margin: 0;
    padding: 0;
}

/* ========== CONTACT MODAL */

.header-footer-color {
    background-color: #221E22;;
}

.modal-body {
    background-color: #31263E;
}

.modal input, .modal textarea {
    background-color: #44355B;
    color: white;
    font-weight: 700;
}

.modal form input:focus, .modal form textarea:focus {
    background-color: #EE5622;
    color: white;
}

.modal ::placeholder {
    font-size: 0.8em;
    text-align: center;
    color: white;
}

.modal-header {
    border-bottom: 1px solid #ECA72C;;
}

.modal-footer {
    border-top: 1px solid #ECA72C;
}